<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>ADRA - Account Balance Overview Tool</span>
</mat-toolbar>

<mat-sidenav-container class="adra-container">
    <mat-sidenav #sidenav mode="side" opened class="adra-sidenav">
        <mat-nav-list>
            <mat-list-item [routerLink]="['/upload-file']">Upload Balance</mat-list-item>
            <mat-list-item [routerLink]="['/balance-viewer']">View Balances</mat-list-item>
            <mat-list-item [routerLink]="['/generate-graph']">Graph</mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="adra-sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>