<div class="range-picker">
    <adra-year-month-picker [years]="years" [months]="months" [selectedYearMonth]="selectedYearMonth"
        (yearMonth)="yearMonthChanged($event)">
    </adra-year-month-picker>
    <button mat-raised-button color="primary" (click)="getAcBalance()">Generate</button>
</div>

<div class="" *ngIf="!!report">
    <h4>Balances as of {{monthList[report.month]}} {{report.year}}</h4>
    <table>
        <tr>
            <th *ngFor="let balance of report.balances"><u>{{balance.accountName}}</u></th>
        </tr>
        <tr>
            <td *ngFor="let balance of report.balances">{{balance.amount | number}}</td>
        </tr>
    </table>
</div>